
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <title>机构数据库-WeTrial</title>
    <link rel="stylesheet" href="~/webapp/libs/nomui/nomui.css?v=20220228" />
    <link rel="stylesheet" href="~/webapp/institutiondb/main.css" type="text/css" />

    <script src="~/webapp/libs/jquery-1.11.3.min.js"></script>
    <script src="~/webapp/libs/js.cookie-2.2.1.min.js"></script>
    <script src="~/webapp/libs/nomui/nomui.js?v=20220228"></script>
    <script src="~/webapp/libs/icons.js"></script>
    <script src="~/webapp/libs/base64.js"></script>
    <script src="~/webapp/libs/jsencrypt.min.js"></script>
    <script src="~/webapp/libs/RSAEncrypt.js"></script>
    <script src="~/webapp/libs/crypto-js.js"></script>
    <script src="~/webapp/libs/crypto.js"></script>
    <script src="~/webapp/libs/axios.min.js"></script>
    <script src="~/webapp/libs/sds-common-extendjs/sdscom.js?v=1"></script>
    <script src="~/webapp/libs/sds-common-extendjs/entyclass/sdscomclass.js"></script>
    <script src="~/webapp/libs/requirejs/alameda.js" data-main="/webapp/institutiondb/main.js"></script>


</head>
<body>
    <div id="container">aaaaaaaaaaa</div>
</body>
</html>
